@model inbelik.Models.degiskenler

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sonucolarak</title>
</head>
<body>
    <div> 
        <center> <p>  Bu girdiğin sonuçlara dayanarak söylüyorum ki Kurkix yani bendeniz Burak Demirci adamdır.................</p></center>
    </div>
</body>
</html>


